body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #f0eff4;
    font-size: 32px;
    font-family: 'Helvetica', sans-serif;
}

h1, h2 {
    font-family: 'Metal Mania', cursive;
}

h1 {
    font-kerning: auto;
}
